*.pyc
*.pyd
*.pt
*.mat
*/data/*
*workspace*
*.gz
*.log
*ubyte
*/.env
*/ops/*
*/build/*
*.pdf
*.ppt
*.pptx
.env
environmen.ipynb
*/1_login.py
*-manual-*
*/data/*
*.jpeg
*.jpg
002_MachineLearning/sklean_lib/data/