*.pyc
*.pyd
*.pt
*.mat
*/data/*
*workspace*
*.gz
*.log
*ubyte
*/.env
*/ops/*
*/build/*
*.pdf
*.ppt
*.pptx
.env
environmen.ipynb
*/1_login.py
*-manual-*
*.png
*.csv
*.tsv
*.sqlite3
104_LLM/watsonx-incubation-Korea/*
*.zip
numpy-100
