*.pyc
*.pyd
*.pt
*.mat
*/data/*
*workspace*
*.gz
*.log
*ubyte
*/.env
*/ops/*
*/build/*
*.pdf
*.ppt
*.pptx
.env
environmen.ipynb
*/1_login.py
*-manual-*
*.png
*.csv
*.tsv
*.sqlite3
104_LLM/watsonx-incubation-Korea/*
*.zip
numpy-100
*/data/*
*.jpeg
*.jpg
002_MachineLearning/sklean_lib/data/
105_OpenAI/processed
105_OpenAI/text
numpy-100
front_end
node_modules
*.pem